{% extends 'base.html.twig' %}

{% block title %}Editar Linha do Tempo{% endblock %}

{% block body %}
    <h1>Editar Linha do Tempo</h1>

    {{ include('admin/time_line/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary ms-3 mt-3 float-start" href="{{ path('app_admin_time_line_index') }}">voltar</a>

    {{ include('admin/time_line/_delete_form.html.twig') }}
{% endblock %}
