{% extends 'base.html.twig' %}

{% block title %}Editar SEO das páginas
{% endblock %}

{% block body %}
    <h1>Editar SEO das páginas</h1>

    {{ include('admin/page_seo/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <a class="btn btn-secondary ms-3 mt-3 float-start" href="{{ path('app_admin_page_seo_index') }}">voltar</a>
{% endblock %}
